body {
    background-image: url(./img/post\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    color: aliceblue;
    text-align: center;
    font-size: 0cap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}