*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    font-family: Kinetika;
}

html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
}

/*NAV BAR*/

.content {
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.content.scrolled {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(6px);
}

.logo{
    width: auto;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 25rem;
}

.logo h3{
 font-size: 1.6rem;
}

.content .nav_list{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.content .nav_list li a{
    padding: 3rem 1rem 2rem 1rem;
    color: white;
    font-size: 2.2rem;
    text-transform: initial;
    font-weight: 500;
    transition: color 150ms ease-in;

}

.content .nav_list li a:hover{
    color: rgb(114, 114, 114);

}

/* SOBRE */

.sobre-section {
    min-height: 100vh;
    padding: 16rem 10rem 10rem;
    background-image: url("../img/bgfilmes.png");
    background-size: cover;
    background-position: center;
    color: white;
}

/* TÍTULO */

.titulo-sobre {
    font-size: 6rem;
    font-weight: 400;
    margin-bottom: 6rem;
}

/* BLOCO DESTAQUE */

.sobre-destaque {
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    padding: 4rem;
    margin-bottom: 10rem;
}

.texto-sobre {
    width: 55%;
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.texto-sobre p {
    margin-bottom: 2rem;
}

.imagem-sobre {
    width: 40%;
}

.imagem-sobre img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* EQUIPE */

.equipe-sobre {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
}

.pessoa {
    width: 45%;
}

.pessoa h2 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

.pessoa img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: contrast(120%) saturate(90%);
}
